<div class="header">
  <div class="header-wrapper">
    <section>
      <h1>Welcome to the Royal Ballet</h1>
      <p>The show is about to start!</p>
    </section>

    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/tickets">Tickets</a></li>
        <li><a routerLink="/customers">Customers</a></li>
        <li><a routerLink="/basket">Basket</a></li>
        <li><a routerLink="/orders">Orders</a></li>
      </ul>
    </nav>
  </div>
</div>

<aside class="extra-wrapper">
  <p class="clearfix">
    <span class="left">9000</span>
    <span class="left">pointe<br>shoes</span>
  </p>

  <p class="clearfix">
    <span class="left">18715</span>
    <span class="left">sold<br>tickets</span>
  </p>

  <p class="clearfix">
    <span class="left">158690</span>
    <span class="left">loyal<br>visitors</span>
  </p>
</aside>

<div class="body">
  <router-outlet></router-outlet>
</div>

<footer>
  <h2 class="footer">{{footer}}</h2>
</footer>
